<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
{% load static%}
<head>
	<meta charset="UTF-8">
	<title>about</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{%static "css/Services.css"%}" rel="stylesheet">
</head>
<body>

	<div class="banner-text">
    <a href="/">Home</a>

		<h1>About:</h1>
    <h2>
      We are a team of three members , we were effectively tried our best in the development of this web Application,<br>
        We are currently studying 3rd year Computer Science And Engineering with<br> Register numbers 18FE1A0528 , 18FE1A0542 and 18FE1A0560
        in Vignan Lara Colleges</h2>



			<p >CopyRights Reserved 2018-2022 Batch<br> 18FE1A0528 , 18FE1A0542 , 18FE1A0560</p>
	</div>


</body>
</html>
