<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/branch.css"%}">
</head>
<body>
    <h1>Welcome to Materilas Point</h1>
    <div class="container">

        <a href="/r16cse/" class="button1">CSE</a>
        <a href="/semesterpage" class="button2">ECE</a>
        <a href="semesterpage.html" class="button3">IT</a>
        <a href="/r16eee/" class="button4">EEE</a>
        <a href="semesterpage.html" class="button5">ME</a>
        <a href="semesterpage.html" class="button6">CIVIL</a>
    </div>
</body>
</html>
