<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
{% load static%}

<head>
	<meta charset="UTF-8">
	<title>services</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{% static "css/subjects.css"%}" rel="stylesheet">
</head>
<body>
<h1  >R16 COMPUTER SCIENCE AND ENGINEERING</h1>
<h2>1year 1 semester</h2>
<table>
    <tr>
        <th><h3>English 1</h3></th>
        <th><h3>Mathematics 1</h3></th>
        <th><h3>Mathematics 2</h3></th>
        <th><h3>Applied Physics</h3></th>
        <th><h3>Computer Programming<h3></th>
        <th><h3>Engineering Drawing</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1TpfE2bOLCzAx8rES6TtZv7pYlYTeibwG/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1ERPtSNtdSBbrwsNuJZBTQ4cmOQKRCgCE/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1Nz42mAooszmvYul-qYrCEirwnuzbet97/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1-ymyChHOQqRPNFLkYO7lWcQpjv3QEUQQ/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1sDuZlvgtyJuHhOr3c5xs-s9xIdLysvHp/preview">Unit 1</a></td>
        <td><a href="">English - Communication Skills Lab – 1</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1b9I2eA4dg31YoVfAdl5Z2ZHdggoppmHF/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1Nkzd6nuiedb7F8XwB1bE9pKtc-HoSGAx/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1d068ZLLmvyq29ajGyBcT1CiWj9QS_JoX/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1pCQF81u8ftPiO__NWNatIoCNudZj9JE6/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1yOlu83kF9VP1KAtS6M_hZ07c7oSW9JmC/preview">Unit 2</a></td>
        <td><a href="">Applied Physics Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/166antc9QSxFOKC8tYMkJL-wADj7tE_3W/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1pyf6WeKmM-kUZsyaEEUON8MZcuRdsyAx/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1BjnC-g-r2EueyoUvs1e7WAUsp2CpNrZK/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1EcclBQ-0MOWSxwne7LIuj8mH5nRDtDJH/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/18CtgufdjYvSekkqmaKwnsvvRRkSWUgFl/preview">Unit 3</a></td>
        <td><a href="">Computer Programming lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 4</a></td>
				<td><a href="https://drive.google.com/file/d/1dmTY9AvZFWExoB2EMLf_Mvto5LXE6v_N/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1Qe-iR32c-ngU7O4U1TXZ8AcHFg2AsRqK/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1ReaPl9mfX2CTyqFjwgSs31jhhGemMUR4/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1jxQ-ZtgCjuoByR4FNUlAVH9Bog7-6JjN/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1uZwuEwqjPuFXtR7yHtzZd1XGXc6Gg1c3/preview">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/14VE2oc23Vk_zpGXM22TRr93lC5eiq_3s/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1gGlf_xa6ZNiUM-aF1bgkd48PVI29KJLU/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1kIkuC2bE9_x2_FDyK1hf-qRmFfaI4RgO/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1UM7bRNODQnDYVGue6UTfsxXw39ZUjlzy/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1aLopeafRzbIQbTvZNwgNltlbwP54leUK/preview">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1y20i26rzd6Roeicu022TSXEn36zZl3GO/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1BejllABzBCwGwHVbeAP5UNxo9sWqQDO-/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1Jf1Uj5sKGT-SS4688DFvsWN3MDCLxKSo/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1sVdmwYdH6LxOq11a6YDROicefgzk1YCo/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1UM7bRNODQnDYVGue6UTfsxXw39ZUjlzy/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1meuDDWYSI6kQtlygseqVkRUyQafUlXOI/preview">Unit 6</a></td>

    </tr>
</table>

<h2>1year 2 semester</h2>
<table>
    <tr>
        <th><h3>English 2</h3></th>
        <th><h3>Mathematics 3</h3></th>
        <th><h3>Applied Chemistry</h3></th>
        <th><h3>Object Oriented Programming Through C++</h3></th>
        <th><h3>Environmental Studies<h3></th>
        <th><h3>Engineering Mechanics</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1XV2iRq_SbyGR-Ei2YVayjMVjOU3m7ceE/preview">Unit 1</a></td>
				<td><a href="https://drive.google.com/file/d/1hhNvJy2jzZuQYOlh8B5h0gPXBb07C-Jp/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1nZsFEAh7OW_D3smt2iLs8unMMdKcupw_/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1jcvTsWHAv0FKF3z7z30XEEBvK-UCvQnZ/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1CmdEJqYURVf1VPPB_WO641tWC2cVKG-X/preview">Unit 1</a></td>
        <td><a href="">Applied Chemistry Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1UvLfW75qf3Gn5S3VUl8fYFWYGaXz7H6d/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1seZp-5eLVv3MSAn2LzvkZYWygabFLjBf/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1VGNSEF6RDIGG4XvAkGMmxTDCYlpGVNKE/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1OyX_waZy3LzX7uVkVRqLpBZiRy8lz_bI/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1d5o8TNXtXgbPcPaQTjU9wsSXkDeNS71z/preview">Unit 2</a></td>
        <td><a href="">English - Communication Skills Lab – 2</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1PUEC6RwNyewtGhZtu5dzYC4dWJRqv8yL/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1cTgHIPHAhIYmtJqUF4oh6efmRL9Niuqr/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/12OGEuTrIFU6cJ-vAhB9wUpRn6enQB76u/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1TbjW_PvK_4fU6_l62Ui6C_eABTJqUWbx/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1Bp7eHVehh-eqlVwZ_IYyPCR-VKpTc_Xo/preview">Unit 3</a></td>
        <td><a href="">Object Oriented Programming Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1YeDQ_-UTKbDxDeIorLZ0b1oZlTf2NRlo/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1DlbRLxW-ukVfqJfX8GjFIeowvHMO_L2H/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1iKFMJpHYH7TRx5JxUo48vLyGQ2yYWslF/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1ZKN5qGDolZ4OufTqvk_wi40MgBUgGr8x/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1P3E2rWc-g8rvVZjKEAtfSEfah7_CLS7L/preview">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1xcGayp8zQzu9mpNMhPFTLntTqFcwrySt/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1F37z1FsrmqVBK86NO4IhUD2hoa-vTbaj/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/107XMhmJv1lIZVQhjiO6TbzXGAQcuCtxr/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1hTk1OCZf3iCzd-N9hbNzahQ_NBsQou1e/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1bASe-6R2ZYjpDmdcH76-JqcyT0lAgE9N/preview">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1hAeyjtryJII8XONvHvI657Y13gldPS5g/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1ckR3dWrEBvV37KF5k6lQeRWxW12XKiC0/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1MLHt9hIeilW1hJ31zPKOXxbT83gvRBjw/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1rd79aNZJMhgm35Gyu1cIgWjjgjIjC_pt/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/17pAJMFfkLwrjthWfgF0PGIXl5U2zQbtL/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1-w8IsO9tT_TBNX5wqqZa32a2Il1WBaPX/preview">Unit 6</a></td>

    </tr>
</table>

<h2>2 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Statics With R programming1</h3></th>
        <th><h3>Mathematical Foundations of Computer Science</h3></th>
        <th><h3>Digital Logic Design</h3></th>
        <th><h3>Python Programming</h3></th>
        <th><h3>Data Structures thrrough C++<h3></th>
        <th><h3>Computer Graphics</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1ZGabhbITmg6kSqO6IO9mXxh2GPKhHGGo/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1zLh6pPj3b89F7ToK72qQpXSUr3DRQn2v/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1FXCEpFtHRRT69YWT6bIETYfzAUZgajwu/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1gaWeUvKz8ys70brcYfz1AX8Meul7NGbo/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1_FFvQVwP91Wd_5tB1edna3yOoG6DX5qj/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1nbaIw5fGC7TCGUxTE_Ki3Iy18pznVrSj/preview">Unit 1</a></td>
        <td><a href="">Data Structures Through C++ Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1RkWyOPj8d9Azk5Xzfw6AilR2j-30D7ww/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1AhSgx1l99FWFwonTf6tYx22IzvZjBdjv/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1f9XaB8th29z3IpF-JDxZoRjY4E1BXZaf/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1LPB6089JvT6HeVKhRknxwPL-LisZt3sm/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1s3tD0JEYxTaiTC1zU5j0Bd_Q9KPIP1tG/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1PEbfJ_VPRCvMeq_C8G4ewLmo1Dn9V8Tw/preview">Unit 2</a></td>
        <td><a href="">Python Programming Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1KCq2IOeCppTigAWGsarTarhyt9Bu5G1u/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1ca3zep-_6UHe_1O0ipBRv-cMy-fIGt4C/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1a6cHPme4CeEYFKKhvAWH4EK6HQ6lhan9/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1savWb_v1z-hXxUQf83A_4WYd1ePLagot/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1bWHK4b36raHZgXlT23yen0Li4kzAJ-Br/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1thTWpLXs2Ko4cftZKKIO2EqVfk2SIKVL/preview">Unit 3</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1gSMIpDsOaDA-cl_1S4lB-2zd_Dmi-29E/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1EWeiNtoCoIuaKNjDrpqw3EHF2EqT2WeB/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1Pyiavnf9W2Xcxr8zegeLMpL-Z4Rt2si3/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/18M6G-5gmSdQ2VioBe-LiSzadZ4gnsDBm/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1K7j32LfKmAJ5um_ZdY7TaL40y9p17cqE/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1ukvmOw8S6_Z3Hu64raDGNWSxwOsWqiVQ/preview">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/18t_pdc2l5vwCjI6CBTHK6nLPy0CWX5bp/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1TBz1FjNxfUiLF1p5uStPixlCurywV4-6/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1Q3Kp1-d2WGtr71a9-UlqE5m8RV5YyL0c/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/12gGrYisXvtq65wKmEtIfkM0L0C1dAJ_l/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1roOfTUvRJ3oFgDsAYD6JvjA-1Q63egNe/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1muDKQGwtWunQ1wbbfnMTHimd3OHr3ngm/preview">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1OM0oYsMBsBUwKduSea6aY6z9INi-CUmj/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1i6ostjWykqShzY-Fkm51sbXqciKpXW5E/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1PgSckhxZbUqGf1JRugEvoTUkgjb0Yia-/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1DdsNYLp8Ou4yN_USXFJeeHL_ny9qB-SO/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1V8lwvIZDCuoEk1PsonPhZaEqoTxcRm4b/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1Zp6r_JXcrtkTVOTkejAixvoa9W8Y0e9P/preview">Unit 6</a></td>

    </tr>
</table>
<h2>2 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Software Engineering</h3></th>
        <th><h3>Java Programming</h3></th>
        <th><h3>Advance Data Structures</h3></th>
        <th><h3>Computer Organization</h3></th>
        <th><h3>Formal Language and Autometa Theory<h3></th>
        <th><h3>Principles of programming Languages</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/17AUPTnmnb1Z3Gpa4bYpCfW4ohXUmj1km/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/16umoT52Am17sGWVrWSrm9yZzcIpbN1bh/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/165hLvhmzSkaI_FBVKt5kO7wjrlAlz_l8/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1DsLdanwac3S7F_saETKSVSz7YTrhkgiM/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/18iU8fYKaIApbuJnYBFMnd14DpCK6IpYb/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1gU5FpSoBxHw708qxtw5MwOi3HUTw2BOT/preview">Unit 1</a></td>
        <td><a href="">Advance Data Structures lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1ATRhDadbCJta0v-bi08MBVq7MCtOIr1T/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1Guo-CRIDttnIy3B6knBN241-au-mb3c_/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1vCucSmCLKKL-nB7ct9obmjFO5BCyg1GW/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1ttTCH7GWi2Wvc5H5FYpxHm9Jn9bAT2ee/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1YbzuCb-aNZsFeA9U5Ad-0f-JKEwfNgTx/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/16aLmw3uDWe0vDYOZflvy5T1o6YY2B1JC/preview">Unit 2</a></td>
        <td><a href="">Java Programming Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/12qpEgUe9E280IMc8idErR5oRBr5Tbuph/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1GlTbUN-kHpl795hZWrSz1POH6P_OMwV2/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1UYtK3_ulCrDzS-7jYVBewfPmW0XB8N4s/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1GwF0czgO9dfRPvSckTUYK1MD1u5aNwmj/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1t2uVfin1WnpIJym4LTQ8tAf7FZkBG1DK/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1qQlDwHQmhVrxwH-NOCloOWqCwOC0b7Jv/preview">Unit 3</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1fwJNk2hMAM_989OcvD5DvjXDKgEmcGLx/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1nlFYlfEkMd0uPEubbb6ZnVEVVKD31JqQ/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1A3d-Hf8UYoNeo9QqdQRyhLhxRwLxsBCX/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1xsWHajP3oWHuUsTi7HcvRKwhV4RI6YMT/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1QWR1n2juRA2yu4R86NheAhnpJ8Fxnlte/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1VCH0buAi23sJEa3Zzgnk6-LTaU2a66-M/preview">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1FppAeYLafNDLFmEff7sURPOltOWmtwOR/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/15XkPahGN0KC1vsrXZ0-SCpwOZt4I3g_Z/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1TqL1e-7thdE8_tqrHQtDu0lTfTExjbLb/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1blG-fu5BHBentZFbgCGuGYJR1z1dEgPa/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/13M6HImgxG72U0hIvFF_2hr6ZIxRWMcMw/preview">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1VGxhzFtSDgPXgaCnsGBOJJP5xvAKd5Uu/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1plT7Zn_QDumOsP4phqb7yk4Hkvylgchi/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1i67nrS09gI2YwbYirkPILKROIefWMx_j/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1_f_Q2Fjp8Z6-cGwir-l9FRrhFin2J6ph/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1B7EU3bdHfnECoAqo0qUiLyV2l7adSTFW/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1dlC4XcX1cOaotTeugwz4HOzsrKuGwipR/preview">Unit 6</a></td>

    </tr>
</table>
<h2>3 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Compier Design</h3></th>
        <th><h3>Unix Programming</h3></th>
        <th><h3>Object Oriented Analysis and Design using UML</h3></th>
        <th><h3>Data Base Management System</h3></th>
        <th><h3>Operating Systems<h3></th>

        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1Ffi89nakoNg4LEb18BfieyuLys5H05RG/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/17d00vMC3i8P_NCOF8YBHb1LwaF9rNCEV/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1ZF4t3ihIEsM5J4i0BcSWSy4PXdYVjcYy/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/13iPYEfyEXz0APIJ3MSUHmIGSNpvYX3Dl/preview">Unit 1</a></td>
        <td><a href="https://drive.google.com/file/d/1ZpTH9Mr-sBN7ZXTIuSknZxHmP7AmMpJx/preview">Unit 1</a></td>

        <td><a href="">operating System lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/16FCpQ8APzVhgIdfg0LUY2Nf40ACA2Xgj/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1Qp9PR6YmQpIRG2Ye2Ax9lQm9taeSzFZc/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1SrE5RSfV8Jh3UjUuTSwE4kXVRCPGMGcO/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1V5XjYph0Qlh8fu43P6e1cjw8uo8jQrJ2/preview">Unit 2</a></td>
        <td><a href="https://drive.google.com/file/d/1HuXu4mvMa-I5WHa_5XTSuT9TBHTUTa0c/preview">Unit 2</a></td>

        <td><a href="">Unix  Programming  Lab</a></td>
    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1OuBTNwHbjLkVj7kDBJB5nW99ya5ma7ZO/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1MT78YDhwR4IsLBZvmXdMQPzWAdh8Ojwk/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/18-XBNj-HwUc_G4ko_XynmmuTS9lbpCEP/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/1Nl5oiXWq7Wg9Qy92WFq-u24qG1E7YiFw/preview">Unit 3</a></td>
        <td><a href="https://drive.google.com/file/d/12Twhc-QR8i3jcNmLrUayykGzruxNNHIm/preview">Unit 3</a></td>

        <td><a href="">Data Base Management System Lab</a></td>

    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1W2QLHlXcl5rKOhdPMvVutKa7oF_ry1XA/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1CAVEPgG2hbHUPFpqTquGE-rpU-oOePUc/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1UfAedMaO4cFMWH1vOzIfFUaKZu4af2y6/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1doRxYyggmxUlY9ZZ6vq_6jn4R46z2cpG/preview">Unit 4</a></td>
        <td><a href="https://drive.google.com/file/d/1PTlhNMSpMyWZKpmMUwhaA7s3yQvvKvuF/preview">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1_dmsSyfXc2tU7Io1jvZ4ohfyF3Q7rGgY/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1Ks2dU6OUdmBkMftquLBuYh7ULlK_6XMC/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1SaYZXFznA0mTIUjiwyvYyC7_nQKBEi9u/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/15OqYoK71o48A22e36MNVs_FFB3iAmRex/preview">Unit 5</a></td>
        <td><a href="https://drive.google.com/file/d/1KLHvOZ0UemvN1KRPT_ROxHQaBOvRqAaK/preview">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="https://drive.google.com/file/d/1uPVvBqcGTN1um1k7d946gi84H6rIK36X/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1JU1Z40fOITkmHasky4W23lVHBJjTGu7Z/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1VHhfGSFy_cWFG7entHdwpYe00paY4Pjj/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/18Pn9pBQ2Of96ssKfBVPAGyvujDfQg6-p/preview">Unit 6</a></td>
        <td><a href="https://drive.google.com/file/d/1n3s1j1pF7s7OC3xkEGETYD3-Yh0UDbpp/preview">Unit 6</a></td>


    </tr>
</table>
<h2>3 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Computer Networks</h3></th>
        <th><h3>Data Warehousing and Mining</h3></th>
        <th><h3>Design and Analysis of aAlgorithms</h3></th>
        <th><h3>Software Testing Methodoligies</h3></th>
        <th><h3>Artificial Intelligence<h3></th>

        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

        <td><a href="">Network Programming  lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>

        <td><a href="">Software Testing  Lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

        <td><a href="">Data Warehousing and mining  Lab</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>


    </tr>
</table>
<h2>4 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Cryptography and Network Security</h3></th>
        <th><h3>Software Architecture & Design Patterns</h3></th>
        <th><h3>Web Technologies</h3></th>
        <th><h3>Managerial Economics and Financial Analysis</h3></th>
        <th><h3>Big Data Analytics<h3></th>
        <th><h3> Software Project Management <h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

        <td><a href=""> Software Architecture& Design Patterns Lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Web Technologies Lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>
<h2>4 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Distributed Systems</h3></th>
        <th><h3>Management Science </h3></th>
        <th><h3>Machine Learning</h3></th>
        <th><h3>Concurrent and Parallel Programming</h3></th>


    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>


    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>


    </tr>
</table>


</body>
</html>
