<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
{% load static%}
<head>
	<meta charset="UTF-8">
	<title>services</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{% static "css/subjects.css"%}" rel="stylesheet">
</head>
<body>
<h1  >R16 ELECTRICAL AND ELECTRONICS ENGINEERING</h1>
<h2>1year 1 semester</h2>
<table>
    <tr>
        <th><h3>English 1</h3></th>
        <th><h3>Mathematics 1</h3></th>
        <th><h3>Applied Chemistry</h3></th>
        <th><h3>Engineering Mechanics</h3></th>
        <th><h3>Computer Programming<h3></th>
        <th><h3>Environmental Studies</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">English - Communication Skills Lab – 1</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Applied Chemistry Lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Computer Programming lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>

<h2>1year 2 semester</h2>
<table>
    <tr>
        <th><h3>English 2</h3></th>
        <th><h3>Mathematics 2</h3></th>
        <th><h3>Mathematics 3</h3></th>
        <th><h3>Applied Physics</h3></th>
        <th><h3>Electrical Circuit Analysis 1<h3></th>
        <th><h3>Engineering Drawing</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Applied Physics Lab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">English - Communication Skills Lab – 2</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">ENNG.Workshop & IT workshopLab</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>

<h2>2 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Electrical Circuit Analysis 2</h3></th>
        <th><h3>Electrical Machines 1</h3></th>
        <th><h3>Basic Electronics and Devices</h3></th>
        <th><h3>Electro Magnetic Fields</h3></th>
        <th><h3>Thermal and Hydro prime movers<h3></th>
        <th><h3>Managerial Economics & Financial Analysis</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Thermal and Hydro Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Electrical Circuits Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>
<h2>2 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Electrical Measurements</h3></th>
        <th><h3>Electrical Machines 2</h3></th>
        <th><h3>Switching Theory and Logic Design</h3></th>
        <th><h3>Control Systems</h3></th>
        <th><h3>Power Systems 1<h3></th>
        <th><h3>Management Science</h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Electrical Machines 1 Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Electroni Devices & Circuits Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>
<h2>3 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Power Systems 2</h3></th>
        <th><h3>Renewable Energy Sources</h3></th>
        <th><h3>Signals and Systems</h3></th>
        <th><h3>Pulses and Digital Circuits</h3></th>
        <th><h3>Power Electronicss<h3></th>

        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

        <td><a href="">Electrical Machines 2 Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>

        <td><a href="">Control System Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

        <td><a href="">Electrical Measurement Laboratory</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>


    </tr>
</table>
<h2>3 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Power Electronic Controllers & Drives</h3></th>
        <th><h3>Power System Analysis</h3></th>
        <th><h3>Micro Processors and Micro controllers</h3></th>
        <th><h3>Data Structures</h3></th>
        <th><h3>OOPS through JAVA<h3></th>

        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

        <td><a href="">Power Electronics Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>

        <td><a href="">SData Structures Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

        <td><a href="">Microprocessors and Micro controllers Lboratory</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>


    </tr>
</table>
<h2>4 year 1 semester</h2>
<table>
    <tr>
        <th><h3>Utilization of Electrical Energy</h3></th>
        <th><h3>Linear IC Applications</h3></th>
        <th><h3>Power system operation and Control</h3></th>
        <th><h3>Switchgear and protection </h3></th>
        <th><h3>Electrical Machine MOdelling and Analysis<h3></th>
        <th><h3> Optimization Techniques <h3></th>
        <th><h3>Labs</h3></th>
    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

        <td><a href=""> Electrical Simulation Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Power System and Simulation Laboratory</a></td>
    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>

    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>

    </tr>
</table>
<h2>4 year 2 semester</h2>
<table>
    <tr>
        <th><h3>Digital Control Systems</h3></th>
        <th><h3>HVDC Transmissions </h3></th>
        <th><h3>Electrical Distribution Systems</h3></th>
        <th><h3>High Voltage Engineering</h3></th>


    </tr>
    <tr>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>
        <td><a href="">Unit 1</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>
        <td><a href="">Unit 2</a></td>

    </tr>
    <tr>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>
        <td><a href="">Unit 3</a></td>


    <tr>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>
        <td><a href="">Unit 4</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>
        <td><a href="">Unit 5</a></td>


    </tr>
    <tr>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>
        <td><a href="">Unit 6</a></td>


    </tr>
</table>


</body>
</html>
