<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static "css/regulation.css"%}">
</head>
<body>
    <h1>Welcome to Materilas Point</h1>
    <div class="container">
        <h1>select you regulation</h1>

        <a href="/branch/" class="button1">R16 Regulation</a>
        <a href="branchpage.html" class="button2">R19 Regulation</a>
    </div>
</body>
</html>
