<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
{% load static%}
<head>
	<meta charset="UTF-8">
	<title>services</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{%static "css/Services.css"%}" rel="stylesheet">
</head>
<body>

	<div class="banner-text">
    <a href="/">Home</a>

		<h1>Services:</h1>
    <h2>
      Our project is designed to provide the Jntuk-Materials and notes.
      The main goal of developiong this web Application to provide conceptual materials and Pdf's to the B.Tech Students
    who are studying under Jntuk University and it's Affliated Colleges.
      </h2>



			<p >CopyRights Reserved 2018-2022 Batch<br> 18FE1A0528 , 18FE1A0542 , 18FE1A0560</p>
	</div>


</body>
</html>
